.label {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  color: #ef1db0ab;
}
.button {
  
  background-color: #edbddeab;
  color: white;
  border-radius: 7px;
  border-color: #f048beab;
  margin-top: 30px;
}
.button:hover {
  background-color: white;
  color: #f048beab;
  border-color: #f048beab;
}
.form {
  width: 300px;
  padding: 20px;
  display: block;
  
}